<h1>Contacts:</h1>
<form action="/newContact" method="get">
  <button type="submit" class="btn btn-warning" name="button">Create new contact</button>
</form>
<a href="/newContact">Create new contact</a>

<h1>Phone Numbers:</h1>
<form action="/newNumber" method="get">
  <button type="submit" class="btn btn-warning" name="button">Create new number</button>
</form>
<a href="/newNumber">Create new number</a>
