<form action="/success" method="post">
  <label for="firstName">Enter your first name</label>
  <input type="text" name="firstName" id="firstName">

  <label for="lastName">Enter your last name</label>
  <input type="text" name="lastName" id="lastName">

  <label for="dateOfBirth">Enter your date of birth</label>
  <input type="text" name="dateOfBirth" id="dateOfBirth">

  <button type="submit" class="btn btn-warning" name="button">Create</button>
</form>
