<h1>Success!</h1>
#if ($contact)
  <h3>You successfuly create new contact: $contact.getFirstName() $contact.getLastName()</h3>
  <a href="/">Return to contacts</a>
#end
#if ($phone)
  <h3>You successfuly create new phone number: $phone.getPhoneNumber()</h3>
  <a href="/contact/$contactId">Return to contacts</a>
#end
